body{
  font-family: Arial, sans-serif;
  background: pink;
  text-align: center;
}
h1{
  color:#831F1F;
  font-size:30px;
margin-bottom:30px;
}
h2{
  color:#831F1F;
  font-size:30px;
}
p{
  color:#831F1F;
  font-size:20px;
}
button{
  background:#871F1F;
  color: pink;
  border:none;
  padding:15px 25px;
  margin:10px;
  font-size:20px;
  border-radius:20px;
  cursor:pointer;
 transition: 0.3s;
}
  
  
.gifts{
  
  display:none;
  
}

.gift1 {
    display: none;
    padding:30px;
    margin-top:80px;
}

.gift2 {
    display: none;
    padding: 30px;
    margin-top: 80px;
}

.gift3 {
    display: none;
    padding: 30px;
    margin-top: 80px;
}

.question {
    margin-top: 150px;
    padding: 30px;
}
.gifts button {
    padding: 20px 30px;
    margin: 15px;
    font-size: 22px;
    border-radius: 20px;
}
.gift1 img {
    width: 400px;
    height: 200px;
  object-fit: cover;
    margin-right:45px;
    border-radius: 15px;
    
}
.backButton {
    background-color:#831F1F;
    color: pink;
    border:none;
    padding: 12px 25px;
    margin-top: 25px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.gift2 audio {
    margin-top:20px;
}


.gift3 p {
    background-color:#EBD0D0;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    font-size: 18px;
    line-height: 1.8;
    max-width: 600px;
}

.question h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

#noMessage {
    margin-top:25px;
    font-size:28px;
    color:#831F1F;
}
.finalPage {
    display: none;
    padding: 40px;
    margin-top: 150px;
}

.finalPage h1 {
    color:#831F1F;
    font-size: 20px;
    margin-bottom: 30px;
}

.finalPage p {
    color:#831F1F;
    font-size: 22px;
    line-height: 1.8;
}